{% extends 'base.html' %}
{% block content %}
<section class="landing" aria-labelledby="landing-title">
    <img class="landing-branch landing-branch-left" src="{{ url_for('static', filename='img/branch_landing.gif') }}" alt="" aria-hidden="true">
    <img class="landing-branch landing-branch-right" src="{{ url_for('static', filename='img/branch_landing.gif') }}" alt="" aria-hidden="true">
    <div class="landing-content">
        <header class="landing-header">
            <span class="titulo-pequeno">💔 bem-vindo ao</span>
            <h1 id="landing-title">Museum of<br><em>Broken Relationships</em></h1>
            <p class="subtitulo">
                Oh não... estás aqui? :(<br>
                A tua relação amorosa chegou ao fim, mas agora está na altura de a superares!
                Entra no Museum of Broken Relationships e dá o primeiro passo para voltares a sorrir &lt;3
            </p>
        </header>
        <div class="landing-botoes">
            <a href="/register" class="btn btn-principal">Começar a Superar</a>
            <a href="/login" class="btn btn-secundario">Já tenho conta</a>
        </div>
    </div>
</section>
{% endblock %}
